{% extends "base.html" %}

{% block content %}
    <h1>Profili Düzenle</h1>
    
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <p>
            {{ form.profile_pic.label }}<br>
            {{ form.profile_pic() }}<br>
            {% for error in form.profile_pic.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.require_2fa() }} {{ form.require_2fa.label }}
            {% for error in form.require_2fa.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}