{% extends "base.html" %}

{% block content %}
    <div style="text-align: center; margin-bottom: 20px;">
        <h1 style="color: var(--accent-orange);">Sisteme Giriş</h1>
    </div>
    
    <form action="" method="post" style="max-width: 400px; margin: 0 auto;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(style="color: var(--accent-brown);") }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red; font-size: 12px;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(style="color: var(--accent-brown);") }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red; font-size: 12px;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="display: flex; align-items: center; gap: 5px; font-size: 14px;">
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p>{{ form.submit() }}</p>
        <div style="text-align: center; margin-top: 15px;">
            <a href="{{ url_for('auth.reset_password_request') }}" style="color: var(--accent-orange); text-decoration: none; font-size: 14px; font-weight: bold;">Şifremi Unuttum?</a>
        </div>
    </form>
    
    <div style="text-align: center; margin-top: 30px;">
        <p>Hesabın yok mu? <a href="{{ url_for('auth.register') }}">Kayıt Ol</a></p>
    </div>
{% endblock %}